@model IEnumerable<Catalog.Model.UtilizatorModel>

@{
    ViewBag.Title = "Index";
}

<h2>Lista Utilizatori</h2>

<p>
    @Html.ActionLink("Adaugare Utilizator", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Functie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prenume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDElev)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Functie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prenume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDElev)
        </td>
        <td>
            @Html.ActionLink("Editare", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Detalii", "Details", new { id = item.ID }) |
            @Html.ActionLink("Stergere", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
